//<МИКСИНЫ>===============================================================================================
@import "mixins.scss";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
@import "fonts.scss";

//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================

//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily: "Poppins";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth: 320px;
$mw: 1140;
$md1: $mw+12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$color_red: #fc5f45;
$color_green: #38c695;
$color_purple: #b27cf5;
$color_orange: #feb960;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null.scss";

body {
	color: #000;
	font-size: 14px;

	&.lock {
		overflow: hidden;
	}
}

//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
	@include flexbox();
	flex-direction: column;

	&.loaded {}
}

//</ОБОЛОЧКА>===========================================================================================================

//</ОСНОВНЫЕ КЛАССЫ>===========================================================================================================
.show {
	display: block;
}

.hide {
	display: none;
}

.fade {
	animation-name: fade;
	animation-duration: 1.5s;
}

@keyframes fade {
	from {
		opacity: 0.1;
	}

	to {
		opacity: 1;
	}
}

.popup{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 12;
	background-color: rgba(0, 0, 0, 0.5);
	justify-content:center;
	align-items:center;
	padding: 30px 10px;

	img{
		width: 100%;
		height:100%;
		object-fit: contain;
	}
}
//</ОСНОВНЫЕ КЛАССЫ>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container {
	max-width: $mw + px;
	margin: 0 auto;
	width: 100%;

	@media (max-width: $md1+px) {
		max-width: 970px;
	}

	@media (max-width: $md2+px) {
		max-width: 750px;
	}

	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 10px;
	}
}

//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.mainblock {
	min-height: 100vh;
	position: relative;
	padding: 75px 0px 0px 0px;

	@media (max-width: $md3+px) {
		padding: 50px 0px 0px 0px;
	}
}

.mainblock__content {
	max-width: 820px;
	margin: 0px auto;
	position: relative;
	z-index: 1;
	@include flexbox();
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 175px 0px 0px 0px;

	@media (max-width: $md3+px) {
		padding: 120px 0px 0px 0px;
	}

	@media (max-width: $md4+px) {
		padding: 60px 0px 0px 0px;
	}
}

.mainblock__title {
	color: #000;
	font-family: "LibreBaskerville";
	font-size: 60px;
	font-weight: 400;
	line-height: 85px;
	margin: 0px 0px 49px 0px;

	@media (max-width: $md3+px) {
		font-size: 50px;
		line-height: 65px;
	}

	@media (max-width: $md4+px) {
		font-size: 42px;
		line-height: 55px;
		margin: 0px 0px 30px 0px;
	}
}

.mainblock__btn {
	margin: 0px 0px 83px 0px;

	@media (max-width: $md4+px) {
		margin: 0px 0px 35px 0px;
	}
}

.mainblock__pluses {
	@include flexbox();
	justify-content: space-evenly;

	@media (max-width: $md3+px) {
		flex-direction: column;
	}
}

.pluses__column {
	flex: 0 1 33.333%;
	margin: 0px 0px 25px 0px;

	@media (max-width: $md3+px) {
		@include flexbox();
		justify-content: flex-start;
		align-items: center;
	}
}

.pluses__icon {
	margin: 0px 0px 25px 0px;

	@media (max-width: $md3+px) {
		margin: 0px 15px 0px 25%;
	}

	@media (max-width: $md4+px) {
		margin: 0px 15px 0px 10%;
	}
}

.pluses__text {
	color: $color_green;
	font-size: 18px;
	font-weight: 500;
	line-height: 40px;
	text-transform: uppercase;

	@media (max-width: $md3+px) {
		font-size: 16px;
		line-height: 26px;
	}
}

.pluses__text-p {
	color: $color_purple;
}

.pluses__text-o {
	color: $color_orange;
}

.mainblock__image {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

//====================================================================================================
.about {}

.about__row {
	padding: 149px 0px 151px 0px;
	@include flexbox();
	justify-content: center;

	@media (max-width: $md2+px) {
		padding: 100px 0px 100px 0px;
	}

	@media (max-width: $md3+px) {
		flex-wrap: wrap;
		padding: 70px 0px 70px 0px;
	}

	@media (max-width: $md4+px) {
		padding: 50px 0px 50px 0px;
	}
}

.about__column {
	flex: 1 1 50%;
	position: relative;

	@media (max-width: $md3+px) {
		flex: 1 1 100%;
	}
}

.column-content {
	max-width: 652px;
	margin: 75px 0px 75px -70px;
	box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.2);

	@media (max-width: $md3+px) {
		margin: 0px 0px 0px 0px;
	}
}

.about__img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	@media (max-width: $md3+px) {
		display: none;
	}
}

.about__content {
	background-color: #fff;
	padding: 89px 83px 106px 83px;
	position: relative;

	@media (max-width: $md2+px) {
		padding: 50px 20px 40px 20px;
	}

	@media (max-width: $md3+px) {
		padding: 30px 20px 20px 20px;
	}
}

.about__content:after {
	content: "";
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to right,
			$color_red 25%,
			$color_green 25% 50%,
			$color_purple 50% 75%,
			$color_orange 75% 100%);
}

.title {
	color: #313131;
	font-family: "LibreBaskerville";
	font-size: 50px;
	font-weight: 700;
	line-height: 50px;
	margin: 0px 0px 25px 0px;

	@media (max-width: $md2+px) {
		margin: 0px 0px 10px 0px;
	}

	@media (max-width: $md3+px) {
		font-size: 44px;
		line-height: 60px;
	}

	@media (max-width: $md4+px) {
		font-size: 36px;
		margin: 0px 0px 0px 0px;
	}
}

.about__text {
	color: #616161;
	font-size: 15px;
	font-weight: 400;
	line-height: 27.01px;

	p {
		margin: 0px 0px 30px 0px;

		&:last-child {
			margin: 0px 0px 0px 0px;
		}

		@media (max-width: $md2+px) {
			margin: 0px 0px 15px 0px;
		}

		@media (max-width: $md4+px) {
			margin: 0px 0px 7px 0px;
		}
	}
}

//====================================================================================================
.focus-block {
	background: #f7f7f7;
}

.focus__content {
	text-align: center;
	padding: 148px 0px 150px 0px;

	@media (max-width: $md2+px) {
		padding: 80px 0px 80px 0px;
	}

	@media (max-width: $md3+px) {
		padding: 50px 0px 50px 0px;
	}

	@media (max-width: $md4+px) {
		padding: 30px 0px 30px 0px;
	}
}

.focus__title {}

.text {
	color: #616161;
	font-size: 18px;
	font-weight: 400;
	line-height: 40px;
	margin: 0px 0px 70px 0px;

	@media (max-width: $md3+px) {
		margin: 0px 0px 20px 0px;
		font-size: 16px;
		line-height: 26px;
	}
}

.focus__row {
	@include flexbox();
	margin: 0px -15px;

	@media (max-width: $md1+px) {
		margin: 0px -8px;
	}

	@media (max-width: $md2+px) {
		flex-wrap: wrap;
	}
}

.focus-item {
	flex: 1 1 25%;
	padding: 0px 15px;
	margin: 0px 0px 30px 0px;

	@media (max-width: $md1+px) {
		padding: 0px 8px;
	}

	@media (max-width: $md2+px) {
		flex: 0 0 50%;
	}

	@media (max-width: $md3+px) {
		flex: 1 1 100%;
	}

	@media (max-width: $md4+px) {
		margin: 0px 0px 20px 0px;
	}
}

.focus-item__content {
	background: #fff;
	padding: 66px 33px 64px 33px;
	height: 100%;
	position: relative;

	@media (max-width: $md1+px) {
		padding: 40px 15px 40px 15px;
	}

	@media (max-width: $md3+px) {
		padding: 20px 15px 20px 15px;
	}

	@media (max-width: $md4+px) {
		padding: 10px 15px 20px 10px;
	}
}

.focus-item__content:after {
	@include afterLine($color_red);
}

.focus-item__content-g:after {
	@include afterLine($color_green);
}

.focus-item__content-p:after {
	@include afterLine($color_purple);
}

.focus-item__content-o:after {
	@include afterLine($color_orange);
}

.focus-item__icon {
	height: 55px;
	@include flexbox();
	justify-content: center;
	align-items: center;
	margin: 0px 0px 32px 0px;

	@media (max-width: $md3+px) {
		margin: 0px 0px 10px 0px;
	}
}

.focus-item__title {
	color: #313131;
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	margin: 0px 0px 30px 0px;

	@media (max-width: $md3+px) {
		margin: 0px 0px 10px 0px;
	}
}

.focus-item__text {
	color: #616161;
	font-size: 15px;
	font-weight: 400;
	line-height: 25px;
}

//====================================================================================================
.video {
	position: relative;
	padding: 0px 0px 58% 0px;

	iframe {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
	}
}

//====================================================================================================
.portfolio {
	text-align: center;
}

.portfolio__content {
	padding: 140px 0px 149px 0px;

	@media (max-width: $md2+px) {
		padding: 80px 0px 80px 0px;
	}

	@media (max-width: $md3+px) {
		padding: 50px 0px 50px 0px;
	}

	@media (max-width: $md4+px) {
		padding: 30px 0px 30px 0px;
	}
}

.portfolio__items {
	@include flexbox();
	justify-content: center;
	flex-wrap: wrap;
	margin: 0px -10.5px;
}

.portfolio__column {
	flex: 0 1 33.333%;
	// max-width: 33.333%;
	padding: 0px 10.5px 0px 10.5px;
	margin: 0px 0px 21px 0px;
	height: 288px;
	cursor: pointer;

	&:hover {
		.portfolio__column__info {
			visibility: visible;
			opacity: 1;
		}
	}

	@media (max-width: $md2+px) {
		flex: 0 1 50%;
	}

	@media (max-width: $md4+px) {
		flex: 0 1 100%;
	}

	@media (max-width: $md4+px) {
		margin: 0px 0px 15px 0px;

		&:nth-child(4),
		&:nth-child(5),
		&:nth-child(6),
		&:nth-child(7),
		&:nth-child(8),
		&:nth-child(9) {
			display: none;
		}
	}
}

.portfolio__column__content {
	position: relative;
	@include flexbox();
	flex-direction: column;
	overflow: hidden;
	height: 100%;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.portfolio__item {
	flex: 1 1 288px;
	display: block;
	overflow: hidden;
	padding: 0px 0px 100% 0px;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);

	img {
		max-width: 100%;
	}
}

.portfolio__column__info {
	flex: 1 1 100%;
	margin: -100% 0px 0px 0px;
	z-index: 2;
	@include flexbox();
	flex-direction: column;
	align-items: center;
	visibility: hidden;
	@include anim(0.3s, 0s);
	opacity: 0;
}

.info__item {
	flex: 0 1 88%;
	@include flexbox();
	justify-content: center;
	align-items: center;
	align-self: stretch;
	background: rgba(0, 0, 0, 0.3);
	img{
		height: 61px;
	}
}

.info__project {
	flex: 0 1 22%;
	background: #fff;
	@include flexbox();
	justify-content: center;
	align-items: center;
	align-self: stretch;
	position: relative;
}

.info__project:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 3px;
	background: linear-gradient(to right,
			$color_red 25%,
			$color_green 25% 50%,
			$color_purple 50% 75%,
			$color_orange 75% 100%);
}

.info__project__title {
	color: #313131;
	font-size: 18px;
	font-weight: 500;
	line-height: 40px;
}

//====================================================================================================
.team {
	background-color: #f7f7f7;
}

.team__content {
	text-align: center;
	padding: 150px 0px 130px 0px;

	@media (max-width: $md2+px) {
		padding: 80px 0px 80px 0px;
	}

	@media (max-width: $md3+px) {
		padding: 50px 0px 50px 0px;
	}

	@media (max-width: $md4+px) {
		padding: 30px 0px 30px 0px;
	}
}

.team__workers {
	@include flexbox();
	flex-direction: column;
}

.team__workers__row {
	@include flexbox();
	margin: 0px -15px 52px -15px;

	@media (max-width: $md2+px) {
		flex-wrap: wrap;
	}

	@media (max-width: $md3+px) {
		margin: 0px -15px 25px -15px;
	}
}

.team__workers__column {
	flex: 0 1 25%;
	padding: 0px 15px;
	margin: 0px 0px 20px 0px;
	cursor: pointer;

	@media (max-width: $md2+px) {
		flex: 0 1 50%;
	}

	@media (max-width: $md4+px) {
		flex: 1 1 100%;

		&:nth-child(2),
		&:nth-child(3),
		&:nth-child(4) {
			display: none;
		}
	}
}

.team__workers__column-active {
	position: relative;

	&:after {
		content: "";
		position: absolute;
		top: 101%;
		left: 41%;
		// margin: 0px 0px 0px -10px;
		width: 0;
		height: 0;
		border-left: 30px solid transparent;
		border-right: 30px solid transparent;
		border-top: 40px solid #fff;
	}
}

.team__workers__item {
	background: #fff;
	position: relative;
	height: 100%;
}

.team__workers__item:after {
	@include afterLine($color_red);
}

.team__workers__item-g:after {
	@include afterLine($color_green);
}

.team__workers__item-p:after {
	@include afterLine($color_purple);
}

.team__workers__item-o:after {
	@include afterLine($color_orange);
}

.team__workers__item__image {
	display: block;
	padding: 0px 0px 100% 0px;

	img {
		max-height: 100%;
	}
}

.team__workers__item__name {
	color: $color_red;
	font-size: 18px;
	font-weight: 500;
	line-height: 40px;
}

.team__workers__item__name-g {
	color: $color_green;
}

.team__workers__item__name-p {
	color: $color_purple;
}

.team__workers__item__name-o {
	color: $color_orange;
}

.team__workers__item__post {
	color: #616161;
	font-size: 13px;
	font-weight: 400;
	line-height: 40px;
}

.team__workers__review {
	background: #fff;
	position: relative;
}

.review__content {
	padding: 75px 0px 75px 0px;
	text-align: left;

	@media (max-width: $md3+px) {
		padding: 20px 0px 20px 0px;
	}
}

.review__title {
	color: #272727;
	font-size: 20px;
	font-weight: 500;
	line-height: 40px;
	margin: 0px 0px 25px 97px;

	@media (max-width: $md3+px) {
		margin: 0px 0px 10px 40px;
	}

	@media (max-width: $md4+px) {
		margin: 0px 0px 0px 15px;
	}
}

.review__info {
	@include flexbox();

	@media (max-width: $md3+px) {
		flex-direction: column;
	}
}

.review__info__text {
	flex: 0 1 75%;
	@include flexbox();
	justify-content: space-between;
	// align-items: center;

	p {
		color: #616161;
		font-size: 15px;
		font-weight: 400;
		line-height: 27px;
		max-width: 634px;
		margin: 0px 0px 0px 97px;
	}
	img{
		position: relative;
		top: 35%;
		height: 36px;
	}

	@media (max-width: $md3+px) {
		flex: 1 1 100%;

		p {
			margin: 0px 20px 0px 40px;
		}

		img {
			display: none;
		}
	}

	@media (max-width: $md4+px) {
		p {
			margin: 0px 15px;
		}
	}
}

.review__info__contacts {
	flex: 0 1 25%;
	padding: 0px 0px 0px 34px;

	@media (max-width: $md3+px) {
		flex: 1 1 100%;
	}

	@media (max-width: $md4+px) {
		padding: 0px 0px 0px 15px;
	}
}

.review__info__contacts__content {
	padding: 21px 0px 21px 24px;
	border-left: 2px solid #efefef;

	@media (max-width: $md3+px) {
		padding: 21px 0px 0px 15px;
	}
}

.review__info__items {
	li {
		padding: 0px 0px 0px 21px;
		margin: 0px 0px 20px 0px;

		&:nth-child(1) {
			background: url("../img/sprite.svg#team--icons--01") left no-repeat; 
		}

		&:nth-child(2) {
			background: url("../img/sprite.svg#team--icons--02") left no-repeat;
		}

		&:nth-child(3) {
			background: url("../img/sprite.svg#team--icons--03") left no-repeat;
		}

		&:nth-child(4) {
			background: url("../img/sprite.svg#team--icons--04") left no-repeat;
			// margin: 0px 0px 0px 0px;
		}

		a {
			color: #616161;
			font-size: 15px;
			font-weight: 400;
		}
	}

	@media (max-width: $md3+px) {
		@include flexbox();

		li {
			margin: 0px 20px 20px 0px;
		}
	}

	@media (max-width: $md4+px) {
		flex-wrap: wrap;
	}
}

//====================================================================================================
.numbers {
	position: relative;
}

.numbers__content {
	@include flexbox();
	justify-content: space-evenly;
	padding: 145px 0px 90px 0px;
	position: relative;
	z-index: 2;

	@media (max-width: $md2+px) {
		padding: 80px 0px 40px 0px;
	}

	@media (max-width: $md3+px) {
		padding: 50px 0px 10px 0px;
		flex-wrap: wrap;
	}

	@media (max-width: $md4+px) {
		padding: 30px 0px 0px 0px;
	}
}

.numbers__column {
	flex: 0 1 25%;
	margin: 0px 0px 35px 0px;
	@include flexbox();
	padding: 0px 15px;
	flex-direction: column;
	justify-content: center;
	text-align: center;

	@media (max-width: $md3+px) {
		flex: 0 1 50%;
	}

	@media (max-width: $md4+px) {
		flex: 1 1 100%;
	}
}

.numbers__item {}

.numbers__item__icon {
	@include flexbox();
	justify-content: center;
	align-items: center;

	margin: 0px 0px 25px 0px;
	img{
		height: 51px;
		width: 51px;
	}

	@media (max-width: $md3+px) {
		margin: 0px 0px 10px 0px;
	}
}

.numbers__item__title {
	color: #fefefe;
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
	margin: 0px 0px 15px 0px;

	@media (max-width: $md3+px) {
		margin: 0px 0px 0px 0px;
	}
}

.numbers__item__text {
	opacity: 0.7;
	color: #fefefe;
	font-size: 15px;
	font-weight: 400;
	line-height: 30px;
	margin: 0px 0px 30px 0px;

	@media (max-width: $md3+px) {
		margin: 0px 0px 5px 0px;
	}
}
.numbers__item__round{
	img{
		width: 15px;
		height: 15px;
	}
}
.numbers__img {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	img {
		max-height: 100%;
	}
}

//====================================================================================================
.steps {
	text-align: center;
	padding: 147px 0px 150px 0px;

	@media (max-width: $md2+px) {
		padding: 80px 0px 40px 0px;
	}

	@media (max-width: $md3+px) {
		padding: 50px 0px 10px 0px;
		flex-wrap: wrap;
	}

	@media (max-width: $md4+px) {
		padding: 30px 0px 0px 0px;
	}
}

.steps__content {
	@include flexbox();
	flex-direction: column;
}

.steps__row {
	@include flexbox();
	justify-content: flex-start;

	@media (max-width: $md3+px) {
		flex-wrap: wrap;
		justify-content: center;
	}
}

.steps__row-reverse {
	justify-content: flex-end;

	@media (max-width: $md3+px) {
		justify-content: center;

		&>.steps__column__content {
			order: 1;
		}

		&>.steps__column__img {
			order: 2;
		}
	}
}

.steps__column__content {
	flex: 0 1 458px;
	text-align: left;
	margin: -51px -166px 0px 0px;
	box-shadow: 3px -3px 15px rgba(0, 0, 0, 0.1);
	position: relative;
	z-index: 2;
	background: #fff;
	max-height: 300px;

	@media (max-width: $md2+px) {
		margin: -31px -166px 0px 0px;
	}

	@media (max-width: $md3+px) {
		margin: 0px 0px 0px 0px;
		flex: 1 1 100%;
		min-height: 150px;
	}

	@media (max-width: $md4+px) {
		margin: 0px 0px 20px 0px;
	}
}

.steps__column__content-reverse {
	margin: -51px 0px 0px -166px;

	@media (max-width: $md2+px) {
		margin: -31px 0px 0px -166px;
	}

	@media (max-width: $md3+px) {
		margin: 0px 0px 0px 0px;
	}

	@media (max-width: $md4+px) {
		margin: 0px 0px 20px 0px;
	}
}

.steps__column__content:after {
	@include afterLine($color_red);
}

.steps__column__content-g:after {
	@include afterLine($color_green);
}

.steps__column__content-p:after {
	@include afterLine($color_purple);
}

.steps__column__content-o:after {
	@include afterLine($color_orange);
}

.steps__column__content__item {
	@include flexbox();
	padding: 40px 38px 20px 38px;

	@media (max-width: $md4+px) {
		padding: 10px 10px 10px 15px;
	}
}

.steps__item__number {
	flex: 0 1 84px;
	color: #e0e0e0;
	font-family: "Libre Baskerville";
	font-size: 50px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	height: 84px;
}

.steps__item__line {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: -2px;
		left: 0;
	}
}

.steps__item__content {
	flex: 1 1 100%;
	padding: 32px 0px 0px 10px;
}

.steps__item__content__title {
	color: #272727;
	font-size: 25px;
	font-weight: 400;
	margin: 0px 0px 15px 0px;

	@media (max-width: $md4+px) {
		font-size: 22px;
	}
}

.steps__item__content__text {
	color: #616161;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
}

.steps__column__img {
	flex: 0 1 556px;
	position: relative;
	min-height: 300px;
	align-self: flex-end;

	@media (max-width: $md3+px) {
		flex: 1 1 100%;
		min-height: 250px;
	}

	@media (max-width: $md4+px) {
		display: none;
	}
}

.steps__column__img__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

//====================================================================================================
.pricing {
	text-align: center;
	background: #f7f7f7;
	padding: 146px 0px 130px 0px;

	@media (max-width: $md2+px) {
		padding: 80px 0px 80px 0px;
	}

	@media (max-width: $md3+px) {
		padding: 50px 0px 50px 0px;
	}

	@media (max-width: $md4+px) {
		padding: 30px 0px 30px 0px;
	}
}

.pricing__content {
	@include flexbox();
	justify-content: center;
	margin: 0px -15px;

	@media (max-width: $md3+px) {
		flex-wrap: wrap;
	}
}

.pricing__column {
	flex: 0 1 33.333%;
	padding: 0px 15px;
	@include flexbox();
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0px 0px 20px 0px;

	@media (max-width: $md3+px) {
		flex: 0 1 50%;
	}

	@media (max-width: 650px) {
		flex: 1 1 100%;
	}
}

.pricing__item {
	background: #fff;
	width: 100%;
	padding: 35px 0px 37px 0px;
	position: relative;

	@media (max-width: 650px) {
		padding: 15px 0px 15px 0px;
	}
}

.pricing__item:before {
	@include beforeLine($color_green);
}

.pricing__item-r:before {
	@include beforeLine($color_red);
}

.pricing__item-p:before {
	@include beforeLine($color_purple);
}

.pricing__item__title {
	color: #313131;
	font-size: 20px;
	font-weight: 500;
	line-height: 30px;
}

.pricing__item__value {
	max-width: 100px;
	height: 100px;
	margin: 35px auto;
	background-color: $color_green;
	border-radius: 50%;
	box-shadow: #ffffff 0 0 0 3px, $color_green 0 0 0 6px;
	@include flexbox();
	justify-content: center;
	align-items: center;

	p {
		color: #ffffff;
		padding: 10px 0px 0px 0px;
		font-size: 13px;
		font-weight: 400;
		line-height: 20px;

		span {
			font-size: 25px;
		}
	}

	@media (max-width: $md3+px) {
		margin: 15px auto;
	}

	@media (max-width: 650px) {
		margin: 10px auto;
	}
}

.pricing__item__value-r {
	background-color: $color_red;
	box-shadow: #ffffff 0 0 0 3px, $color_red 0 0 0 6px;
}

.pricing__item__value-p {
	background-color: $color_purple;
	box-shadow: #ffffff 0 0 0 3px, $color_purple 0 0 0 6px;
}

.pricing__item__text {
	margin: 0px 0px 20px 0px;

	@media (max-width: $md3+px) {
		margin: 0px 0px 5px 0px;
	}
}

.pricing__item__list {
	display: inline;

	li {
		color: #616161;
		font-size: 15px;
		font-weight: 400;
		line-height: 40px;

		p {
			color: #616161;
			font-size: 15px;
			font-weight: 400;
			line-height: 40px;
			padding: 0px 0px 0px 10px;
		}

		&:nth-child(4),
		&:nth-child(5),
		&:nth-child(6) {
			@include flexbox();
			justify-content: center;
			align-items: center;
		}

		span {
			color: #272727;
			font-weight: 500;
		}
	}
}

//====================================================================================================
.testimonials {
	background: #3f4049;
	text-align: center;
	padding: 145px 0px 152px 0px;

	@media (max-width: $md2+px) {
		padding: 80px 0px 80px 0px;
	}

	@media (max-width: $md3+px) {
		padding: 50px 0px 50px 0px;
	}

	@media (max-width: $md4+px) {
		padding: 30px 0px 30px 0px;
	}
}

.testimonials__title {
	color: #fff;
}

.testimonials__text {
	color: #fff;
}

.slider__item {
	@include flexbox();
	justify-content: center;
	align-items: center;
	margin: 0px 10px;
}

.slider__column__img {
	flex: 0 1 33.333%;
	height: 400px;
	position: relative;

	@media (max-width: $md3+px) {
		display: none;
	}
}

.slider__column__img__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	img {
		max-height: 100%;
	}
}

.slider__column {
	background: #fff;
	text-align: left;
	flex: 0 1 66.667%;
	position: relative;

	@media (max-width: $md3+px) {
		flex: 1 1 100%;
	}
}

.slider__column:after {
	@include beforeLine($color_red);
}

.slider__column-g:after {
	@include beforeLine($color_green);
}

.slider__column-p:after {
	@include beforeLine($color_purple);
}

.slider__column-o:after {
	@include beforeLine($color_orange);
}

.slider__column__content {
	padding: 40px 54px;
	position: relative;
	z-index: 2;

	@media (max-width: $md2+px) {
		padding: 20px 34px;
	}

	@media (max-width: $md4+px) {
		padding: 15px 20px;
	}
}

.slider__column__text {
	color: #616161;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
	margin: 0px 0px 35px 0px;

	@media (max-width: $md2+px) {
		margin: 0px 0px 20px 0px;
	}
}

.slider__column__persone {}

.persone__name {
	color: #272727;
	font-family: "Sacramento";
	font-size: 40px;
	font-weight: 400;
	line-height: 40px;
	margin: 0px 0px 10px 0px;
}

.persone__fullname {
	color: #272727;
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
	margin: 0px 0px 5px 0px;
}

.persone__position {
	color: $color_red;
	font-size: 13px;
	font-weight: 400;
	line-height: 26px;
}

.slider__column__bg {
	position: absolute;
	width: 122px;
	height: 99px;
	z-index: 1;
	top: 0;
	left: 0;

	p {
		opacity: 0.3;
		color: #e0e0e0;
		font-family: "LibreBaskerville";
		font-size: 338px;
		font-weight: 700;
		line-height: 338px;
	}
}

//====================================================================================================
.select {
	text-align: center;
	padding: 145px 0px 150px 0px;

	@media (max-width: $md2+px) {
		padding: 80px 0px 80px 0px;
	}

	@media (max-width: $md3+px) {
		padding: 50px 0px 50px 0px;
	}

	@media (max-width: $md4+px) {
		padding: 30px 0px 30px 0px;
	}
}

.select__content {
	@include flexbox();
	flex-wrap: wrap;
	margin: 0px -40px 79px -40px;

	@media (max-width: $md2+px) {
		margin: 0px -40px 0px -40px;
	}

	@media (max-width: $md3+px) {
		margin: 0px -25px;
	}
}

.select__column {
	flex: 0 1 33.333%;
	padding: 0px 40px;
	margin: 0px 0px 72px 0px;

	@media (max-width: $md2+px) {
		flex: 0 1 50%;
	}

	@media (max-width: $md3+px) {
		padding: 0px 25px;
		margin: 0px 0px 35px 0px;
	}

	@media (max-width: $md4+px) {
		flex: 1 1 100%;
		margin: 0px 0px 20px 0px;
	}
}

.select__item {
	text-align: left;
	height: 100%;
}

.select__item__name {
	@include flexbox();
	justify-content: flex-start;
	align-items: flex-start;
	margin: 0px 0px 25px 0px;

	@media (max-width: $md3+px) {
		margin: 0px 0px 10px 0px;
	}

	@media (max-width: $md4+px) {
		margin: 0px 0px 5px 0px;
	}
}

.select__item__name__icon {
	@include flexbox();
	justify-content: center;
	align-items: center;
	margin: 0px 14px 0px 0px;
	img{
		width: 55px;
		height: 55px;
	}
}

.select__item__name__title {
	color: #272727;
	font-size: 18px;
	font-weight: 500;
	line-height: 26px;
	max-width: 141px;
	margin: -2px 0px 0px 0px;
}

.select__item__text {
	color: #616161;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;
}

.select__start {
	@include flexbox();
	justify-content: center;
	align-items: center;

	@media (max-width: $md3+px) {
		flex-wrap: wrap;
	}
}

.select__start__text {
	color: #272727;
	font-size: 25px;
	font-weight: 400;
	line-height: 26px;
	margin: 0px 23px 0px 0px;

	@media (max-width: $md3+px) {
		flex: 1 1 100%;
		margin: 0px 23px 20px 0px;
	}
}

.select__start__btn {
	@media (max-width: $md3+px) {
		flex: 1 1 100%;
	}
}

//====================================================================================================
.blog {
	text-align: center;
	background-color: #f7f7f7;
	padding: 145px 0px 150px 0px;

	@media (max-width: $md2+px) {
		padding: 80px 0px 80px 0px;
	}

	@media (max-width: $md3+px) {
		padding: 50px 0px 50px 0px;
	}

	@media (max-width: $md4+px) {
		padding: 30px 0px 30px 0px;
	}
}

.blog__content {
	@include flexbox();
	margin: 0px -15px;

	@media (max-width: $md3+px) {
		flex-direction: column;
	}
}

.blog__column {
	flex: 0 1 50%;
	padding: 0px 15px;

	@media (max-width: $md3+px) {
		flex: 1 1 100%;
	}
}

.blog__column__content {
	@include flexbox();
	flex-direction: column;
	height: 100%;
}

.blog__column__content__item {
	@include flexbox();
	flex-direction: column;
	justify-content: space-between;
	margin: -12px 0px;

	@media (max-width: $md3+px) {
		margin: -8px 0px;
	}
}

.blog__item {
	flex: 0 1 33.333%;
	padding: 12px 0px;

	@media (max-width: $md3+px) {
		flex: 1 1 auto;
		padding: 8px 0px;
	}
}

.blog__item-b {
	flex: 0 1 66.667%;
	position: relative;
	padding: 0px 0px 0px 0px;

	@media (max-width: $md3+px) {
		flex: 1 1 300px;
	}

	@media (max-width: $md4+px) {
		display: none;
	}
}

.blog__item-ub {
	padding: 0px 0px 0px 0px;
	background: #fff;
	position: relative;

	@media (max-width: $md3+px) {
		margin: 0px 0px 16px 0px;
	}
}

.blog__item-ub>.blog__item__content {
	padding: 31px 50px 31px 50px;

	@media (max-width: $md2+px) {
		padding: 27px 38px;
	}

	@media (max-width: $md4+px) {
		padding: 15px 20px;
	}
}

.blog__item-ub:after {
	@include beforeLine($color_red);
}

.blog__item__bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;

	img {
		max-width: 100%;
	}
}

.blog__item__info,
.article__info {
	color: #616161;
	font-size: 13px;
	font-weight: 400;
	line-height: 35px;

	@media (max-width: $md4+px) {
		font-size: 12px;
	}
}

.blog__item__info {
	position: absolute;
	bottom: 15px;
	left: 50px;
	opacity: 0.7;
	color: #ffffff;
	font-size: 13px;
	font-weight: 400;
	line-height: 35px;

	span {
		color: $color_red;
		font-size: 15px;
		font-weight: 500;
		text-transform: uppercase;
		display: inline-block;
		padding: 0px 15px 0px 0px;
	}
}

.blog__item__content {
	text-align: left;
	padding: 27px 38px;
	background: #fff;

	@media (max-width: $md4+px) {
		padding: 15px 20px;
	}
}

.article {
	position: relative;
}

.article:after {
	@include beforeLine($color_red);
}

.article-g {
	&>.article__info {
		span {
			color: $color_green;
		}
	}

	&>.article__text {
		a {
			color: $color_green;
		}
	}
}

.article-g:after {
	background-color: $color_green;
}

.article-p {
	&>.article__info {
		span {
			color: $color_purple;
		}
	}

	&>.article__text {
		a {
			color: $color_purple;
		}
	}
}

.article-p:after {
	background-color: $color_purple;
}

.article-o {
	&>.article__info {
		span {
			color: $color_orange;
		}
	}

	&>.article__text {
		a {
			color: $color_orange;
		}
	}
}

.article-o:after {
	background-color: $color_orange;
}

.article__info {
	span {
		color: $color_red;
		font-size: 15px;
		font-weight: 500;
		text-transform: uppercase;
		display: inline-block;
		padding: 0px 15px 0px 0px;

		@media (max-width: $md4+px) {
			padding: 0px 0px 0px 0px;
			font-size: 14px;
		}
	}
}

.article__title {
	color: #272727;
	font-size: 18px;
	font-weight: 500;
	line-height: 35px;

	@media (max-width: $md4+px) {
		line-height: 24px;
	}
}

.article__text {
	color: #616161;
	font-size: 15px;
	font-weight: 400;
	line-height: 27px;

	a {
		color: $color_red;
		font-weight: 500;
	}
}

//====================================================================================================
.subscribe {
	text-align: center;
	padding: 149px 0px;

	@media (max-width: $md2+px) {
		padding: 80px 0px 80px 0px;
	}

	@media (max-width: $md3+px) {
		padding: 50px 0px 50px 0px;
	}

	@media (max-width: $md4+px) {
		padding: 30px 0px 30px 0px;
	}
}

.subscribe__title {
	color: #272727;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	margin: 0px 0px 53px 0px;

	@media (max-width: $md3+px) {
		margin: 0px 0px 25px 0px;
	}

	@media (max-width: $md4+px) {
		margin: 0px 0px 15px 0px;
	}
}

.subscribe__block__form {
	@include flexbox();
	justify-content: center;

	@media (max-width: $md4+px) {
		flex-direction: column;
	}
}

.subscribe__block__input {
	@media (max-width: $md4+px) {
		margin: 0px 10px;
	}
}

//====================================================================================================
.getin {
	background: #cccccc;
	text-align: center;
	padding: 149px 0px 130px 0px;

	@media (max-width: $md2+px) {
		padding: 80px 0px 80px 0px;
	}

	@media (max-width: $md3+px) {
		padding: 50px 0px 50px 0px;
	}

	@media (max-width: $md4+px) {
		padding: 30px 0px 30px 0px;
	}
}

.getin__form {
	margin: 0px 0px 150px 0px;

	@media (max-width: $md3+px) {
		margin: 0px 0px 60px 0px;
	}

	@media (max-width: $md4+px) {
		margin: 0px 0px 30px 0px;
	}
}

.getin__form__body {
	max-width: 780px;
	margin: 0 auto;
	@include flexbox();
	flex-wrap: wrap;
	justify-content: center;
}

.getin__form__line {
	flex: 0 1 50%;
	padding: 0px 15px;
	margin: 0px 0px 24px 0px;

	@media (max-width: $md3+px) {
		flex: 1 1 100%;
		margin: 0px 0px 15px 0px;
	}

	@media (max-width: $md4+px) {
		margin: 0px 0px 10px 0px;
	}
}

.getin__form__textarea {
	margin: 0px 15px 50px 15px;
	width: 100%;

	@media (max-width: $md3+px) {
		margin: 0px 0px 25px 0px;
	}

	@media (max-width: $md4+px) {
		margin: 0px 0px 15px 0px;
	}
}

.getin__form__btn {}

//====================================================================================================
.modal {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1050;
	// display: none;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.5);
}

.modal__dialog {
	max-width: 500px;
	margin: 40px auto;
}

.modal__content {
	position: relative;
	width: 100%;
	padding: 40px;
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	max-height: 80vh;
	overflow-y: auto;
}

.modal__close {
	position: absolute;
	top: 8px;
	right: 14px;
	font-size: 30px;
	color: #000;
	opacity: 0.5;
	font-weight: 700;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.modal__title {
	text-align: center;
	font-size: 22px;
	text-transform: uppercase;
}

//</ОСНОВНОЙ БЛОК>====================================================================================================